<div class="container">
  <form (ngSubmit)="send()" [formGroup]="maintenance" >
    <app-input-generic
      type="datetime-local"
      label="DATE"
      id="date"
      [(ngModel)]="isDate"
      formControlName="date"
    />
    <app-input-generic
    type="number"
    label="VALOR"
    id="value"
    ph="R$ 59,90"
    formControlName="value"
  />
    <app-input-generic
      type="number"
      label="KILOMETRAGEM"
      id="km"
      ph="50123"
      formControlName="km"
    />
    <app-input-generic
      type="text"
      label="PLACA"
      id="placa"
      ph="GDI1A75"
      formControlName="plate"
    />
    <app-input-dropdown-generic [datas]="dataDP" formControlName="type"/>
    <app-input-generic
      type="text"
      label="OBSERVAÇÃO"
      id="obs"
      ph="Troca de óleo"
      formControlName="obs"
    />

    <app-input-button-generic [loading]="load" [isDisable]="!maintenance.valid"></app-input-button-generic>
  </form>
</div>
