<div class="area">
  <nav class="main-menu" [ngClass]="isExpanded ? 'expanded' : 'expanded-reverse'">
    <ul>
      <li>
        <a routerLink="/" >
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text"> Community Dashboard </span>
        </a>
      </li>
      <li class="has-subnav">
        <a (click)="toggleSubmenu($event)" >
          <i class="fa fa-globe fa-2x"></i>
          <span class="nav-text"> ENTREGAS </span>
        </a>
        <ul class="submenu" [ngClass]="{'open': isSubmenuOpen}">
          <li><a routerLink="pending-deliveries">Pendentes</a></li>
          <li><a routerLink="completed-deliveries">Finalizadas</a></li>
          <li><a routerLink="delivery-reports">Relatórios</a></li>
        </ul>
      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-comments fa-2x"></i>
          <span class="nav-text"> Group Hub Forums </span>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-camera-retro fa-2x"></i>
          <span class="nav-text"> Survey Photos </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-film fa-2x"></i>
          <span class="nav-text"> Surveying Tutorials </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-book fa-2x"></i>
          <span class="nav-text"> Surveying Jobs </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cogs fa-2x"></i>
          <span class="nav-text"> Tools & Resources </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-map-marker fa-2x"></i>
          <span class="nav-text"> Member Map </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-info fa-2x"></i>
          <span class="nav-text"> Documentation </span>
        </a>
      </li>
    </ul>
    <ul class="logout">
      <li>
        <a  (click)="logout()">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text"> Logout </span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="btn-expanded">oi</div>
  <div class="container">
    <router-outlet/>
</div></div>



