<!-- novo -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isMenuOpened" class="sidenav">
    <div class="user-profile">
      <img
        src="../../../../assets/images/user_default.jpg"
        alt="User Image"
        class="user-image"
      />
    </div>
    <mat-nav-list>
      <mat-expansion-panel *ngIf="isMenuOpened">
        <mat-expansion-panel-header>
          <mat-panel-title> Entrega </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/delivery-store" (click)="closeMenu()"
            >Loja</a
          >
          <a mat-list-item routerLink="/delivery" (click)="closeMenu()"
            >Entregador</a
          >
          <a mat-list-item routerLink="/delivery-report" (click)="closeMenu()"
            >Relatório</a
          >
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="isMenuOpened">
        <mat-expansion-panel-header>
          <mat-panel-title> Motocicleta </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/maintenance" (click)="closeMenu()"
            >Manutenção</a
          >
          <a mat-list-item routerLink="/delivery" (click)="closeMenu()"
            >Entregador</a
          >
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
    <div class="menu-footer">
      <a routerLink="/config">Configurações</a>
      <a (click)="logout()" style="cursor: pointer"> Logout</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      mat-mini-fab
      (click)="sidenav.toggle()"
      [ngClass]="{
        'btn-expanded': isMenuOpened,
        'btn-collapsed': !isMenuOpened
      }"
    >
      <mat-icon>{{ isMenuOpened ? "close" : "menu" }}</mat-icon>
    </button>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- novo -->
