//@import '../styles/shared-styles-modal-default.scss';

/* Modal Styling */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
  position: relative;
  background-color: red;
  left: 50%;
  top: 10%;
  border-radius: 10px;
  width: 20px;
  text-align: center;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 620px) {
  form {
    flex-direction: column;
    align-items: unset;
  }
}

button {
  margin-top: 10px;
}

main.table {
  width: 100%;
  height: 90vh;
  margin-top: 10px;
  background-color: #fff5;

  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;

  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 0.8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}

.status {
  padding: 1rem 1rem;
  border-radius: 2rem;
  text-align: center;
}

.status.finished {
  background-color: #28a745;
  color: #ffffff;
  border: 1px solid #1e7e34;
}

.status.cancelled {
  background-color: #dc3545;
  color: #ffffff;
  border: 1px solid #bd2130;
}

.status.pending {
  background-color: #ffc107;
  color: #212529;
  border: 1px solid #d39e00;
}

.status.collected {
  background-color: #6610f2;
  color: #ffffff;
  border: 1px solid #4e0cb3;
}

.status.route {
  background-color: #17a2b8;
  color: #ffffff;
  border: 1px solid #117a8b;
}

.status.unknown {
  background-color: #6c757d;
  color: #ffffff;
  border: 1px solid #545b62;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;

  text-align: center;
  font-size: 1rem;

  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
  border: 1.4px solid #6c00bd;
}

thead th:hover {
  color: #6c00bd;
}

thead th.active span.icon-arrow {
  background-color: #6c00bd;
  color: #fff;
}

thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}
.data-query {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.searchBox {
  display: flex;
  max-width: 250px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #2f3640;
  border-radius: 50px;
  position: relative;
  margin: 10px;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(
    --gradient-2,
    linear-gradient(90deg, #2af598 0%, #009efd 100%)
  );
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 24px 65px 24px 26px;
}

.radio-inputs {
  //position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 0.5rem;
  background-color: #2f3640;
  box-sizing: border-box;
  padding: 0.25rem;
  font-size: 14px;
  margin: 5px;
  color: white;
  justify-content: space-between;
}

.radio-inputs .radio {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1 1 auto;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgb(255, 255, 255);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
  color: rgba(51, 65, 85, 1);
  width: 100%;
}

.radio-inputs .radio .badge {
  background-color: #0094f7;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  font-size: 12px;
  min-width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
  text-align: center;
}
.btn-action {
  cursor: pointer;
  min-width: 150px;
  margin: 2px;
  font-weight: bolder;
  border-style: double;
  background-color: rgb(81, 226, 81);
  &:hover {
    background-color: rgb(5, 92, 5);
    color: white;
  }

}
.bt-detals{
  background-color: rgb(81, 115, 226);
  &:hover {
    background-color: rgb(29, 8, 223);
    color: white;
  }
}

.label-fields {
  display: none;
}
.act-cancel {
  background-color: rgb(247, 60, 60);
  &:hover {
    background-color: rgb(238, 18, 18);
    color: white;
  }
}
// --------------------------------------------------------------NOVO
@media screen and (max-width: 600px) {
  .status {
    width: 100%;
  }
  .btn-action {
    min-width: 100px;
    font-size: 10px;
    cursor: pointer;
  }
  table {
    width: 100%;
    font-size: small;
  }
  .label-fields {
    font-weight: bold;
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    box-shadow: 0 0 0.5em #666666;
    border: none;

    display: block;

    margin: 1em;
  }

  table tbody tr td {
    padding: 0.4em 1em;
    text-align: justify;
    display: flex;
  }

  table tbody tr td[data-label="#"] {
    display: none;
  }

  table tbody tr td[data-label]:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }

  table tbody tr td.numeric {
    text-align: left;
  }
}
