<div class="container modal-container">
  <input type="button" value="X" (click)="closeModal()" />

  <div class="status-container opem-animation">
    <div class="header">
      <h1>Status da Entrega</h1>
      <h1>{{ getFormattedDate(datasViewOrder?.order?.date) }}</h1>
      <p>
        Pedido: <strong>{{ datasViewOrder?.order?.id }}</strong>
      </p>
      <section class="data-order">
        <div class="data-order-details">
          <p>
            CLIENTE: <strong>{{ datasViewOrder?.order?.client?.name }}</strong>
          </p>
          <p>
            CPF: <strong>{{ convertToCpfToRgToPhoneToCep(datasViewOrder?.order?.client?.cpf,'cpf') }}</strong>
          </p>
          <p>
            TELEFONE:
            <strong>{{ convertToCpfToRgToPhoneToCep(datasViewOrder?.order?.client?.phone,'phone') }}</strong>
            <a *ngIf="datasViewOrder?.order?.client?.phone"
            [href]="'https://wa.me/' + datasViewOrder?.order?.client?.phone"
            target="_blank"
            title="Enviar mensagem no WhatsApp">
            <img src="assets/images/whatsapp-icon.png" alt="WhatsApp" style="width: 20px; margin-left: 5px;"></a>
          </p>
          <p>
            ENDEREÇO:
            <strong
              >{{ datasViewOrder?.order?.address?.place }},
              {{ datasViewOrder?.order?.address?.number }},
              {{ datasViewOrder?.order?.address?.neighborhood }} -
              {{ datasViewOrder?.order?.address?.city }} -
              {{ datasViewOrder?.order?.address?.uf }}</strong
            >
          </p>
          <p>
            VALOR:
            <strong>{{
              getFormattedCurrency(datasViewOrder?.order?.value)
            }}</strong>
          </p>
        </div>
      </section>
    </div>
    <div class="progress-container">
      <div
        class="progress-bar"
        id="progress-bar"
        [style.width]="statusPorcentagem + '%'"
        [ngClass]="setProgressBarClass()"
      ></div>
    </div>

    <div class="view-status">
      @for (item of statusViewOrder; track $index) {
      <div class="status in-progress">
        <div>
          <p class="status-text">PEDIDO {{ item.status?.name }}</p>
          <p class="status-time">{{ getFormattedDate(item.createAt) }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
