<!-- <div class="container modal-container" style="display: none">
  <input type="button" value="X" (click)="closeModal()" />

  <div class="status-container opem-animation">
    <div class="header">
      <h1>Status da Entrega</h1>
      <h1>{{ getFormattedDate(datasViewOrder?.order?.date) }}</h1>
      <p>
        Pedido: <strong>{{ datasViewOrder?.order?.id }}</strong>
      </p>
      <section class="data-order">
        <div class="data-order-details">
          <p>
            CLIENTE:<strong>{{ datasViewOrder?.order?.client?.name }}</strong>
          </p>
          <p *ngIf="datasViewOrder?.order?.client?.cpf" ; else #ci>
            CPF:<strong>{{
              convertToCpfToRgToPhoneToCep(
                datasViewOrder?.order?.client?.cpf,
                "cpf"
              )
            }}</strong>
          </p>
          <ng-template #ci>
            <p>
              CÓDIGO INTERNO:<strong>{{
                datasViewOrder?.order?.client?.c_interno
              }}</strong>
            </p>
          </ng-template>

          <p>
            TELEFONE:
            <strong>{{
              convertToCpfToRgToPhoneToCep(
                datasViewOrder?.order?.client?.phone,
                "phone"
              )
            }}</strong>
            <a
              *ngIf="datasViewOrder?.order?.client?.phone"
              [href]="'https://wa.me/' + datasViewOrder?.order?.client?.phone"
              target="_blank"
              title="Enviar mensagem no WhatsApp"
            >
              <img
                src="assets/images/whatsapp-icon.png"
                alt="WhatsApp"
                class="img-tag"
              />
            </a>
          </p>
          <p>
            ENDEREÇO:
            <strong
              >{{ datasViewOrder?.order?.address?.place }},
              {{ datasViewOrder?.order?.address?.number }},
              {{ datasViewOrder?.order?.address?.neighborhood }} -
              {{ datasViewOrder?.order?.address?.city }} -
              {{ datasViewOrder?.order?.address?.uf }}
            </strong>
            <a
              *ngIf="datasViewOrder?.order?.address"
              [href]="
                'https://www.google.com/maps?q=' +
                datasViewOrder?.order?.address?.place +
                ', ' +
                datasViewOrder?.order?.address?.number +
                ', ' +
                datasViewOrder?.order?.address?.neighborhood +
                ' - ' +
                datasViewOrder?.order?.address?.city +
                ' - ' +
                datasViewOrder?.order?.address?.uf
              "
              target="_blank"
              title="Abrir no Google Maps"
            >
              <img
                src="../../../../../assets/images/maps-icon.png"
                alt="WhatsApp"
                class="img-tag"
              />
            </a>
          </p>
          <p>
            OBSERVAÇÕES:
            <strong>{{ datasViewOrder?.order?.obs }}</strong>
          </p>
          <p>
            VALOR:
            <strong>{{
              getFormattedCurrency(datasViewOrder?.order?.value)
            }}</strong>
          </p>
        </div>
      </section>
    </div>
    <div class="progress-container">
      <div
        class="progress-bar"
        id="progress-bar"
        [style.width]="statusPorcentagem + '%'"
        [ngClass]="setProgressBarClass()"
      ></div>
    </div>

    <div class="view-status">
      @for (item of statusViewOrder; track $index) {
      <div class="status in-progress">
        <div>
          <p class="status-text">PEDIDO {{ item.status?.name }}</p>
          <p class="status-time">{{ getFormattedDate(item.createAt) }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<section div class="container modal-container">
  <input type="button" value="X" (click)="closeModal()" />
  <main class="status-container opem-animation" >
    <tbody class="detals-order">
      <tr class="detals">
        <td class="client_info td-table">
          <table>
            <tbody class="row-table">
              <tr>
                <td class="title-client">CLIENTE:</td>
                <td class="title-client-info">
                  {{ datasViewOrder?.order?.client?.name }}
                </td>
              </tr>
            </tbody>
          </table>

          <table>
            <tbody class="row-table">
              <tr>
                <td class="title-client">
                  {{
                    datasViewOrder?.order?.client?.cpf
                      ? "CPF"
                      : "CÓDIGO INTERNO"
                  }}:
                </td>
                <td class="title-client-info">
                  {{
                    datasViewOrder?.order?.client?.cpf
                      ? datasViewOrder?.order?.client?.cpf
                      : datasViewOrder?.order?.client?.c_interno
                  }}
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <tbody class="row-table">
              <tr>
                <td class="title-client">TELEFONE:</td>
                <td class="title-client-info">
                  {{
                    convertToCpfToRgToPhoneToCep(
                      datasViewOrder?.order?.client?.phone,
                      "phone"
                    )
                  }}
                </td>
                <a
                  *ngIf="datasViewOrder?.order?.client?.phone"
                  [href]="
                    'https://wa.me/' + datasViewOrder?.order?.client?.phone
                  "
                  target="_blank"
                  title="Enviar mensagem no WhatsApp"
                >
                  <img
                    src="assets/images/whatsapp-icon.png"
                    alt="WhatsApp"
                    class="img-tag"
                  />
                </a>
              </tr>
            </tbody>
          </table>
          <table>
            <tbody class="row-table">
              <tr>
                <td class="title-client">ENDEREÇO:</td>
                <td class="title-client-info">
                  {{ datasViewOrder?.order?.address?.place }},
                  {{ datasViewOrder?.order?.address?.number }},
                  {{ datasViewOrder?.order?.address?.neighborhood }} -
                  {{ datasViewOrder?.order?.address?.city }} -
                  {{ datasViewOrder?.order?.address?.uf }}
                </td>
                <a
                  *ngIf="datasViewOrder?.order?.address"
                  [href]="
                    'https://www.google.com/maps?q=' +
                    datasViewOrder?.order?.address?.place +
                    ', ' +
                    datasViewOrder?.order?.address?.number +
                    ', ' +
                    datasViewOrder?.order?.address?.neighborhood +
                    ' - ' +
                    datasViewOrder?.order?.address?.city +
                    ' - ' +
                    datasViewOrder?.order?.address?.uf
                  "
                  target="_blank"
                  title="Abrir no Google Maps"
                >
                  <img
                    src="../../../../../assets/images/maps-icon.png"
                    alt="WhatsApp"
                    class="img-tag"
                  />
                </a>
              </tr>
            </tbody>
          </table>
          <table>
            @if (datasViewOrder?.order?.obs) {
            <tbody class="row-table">
              <tr>
                <td class="title-client">OBSERVAÇÕES:</td>
                <td class="title-client-info">
                  {{ datasViewOrder?.order?.obs }}
                </td>
              </tr>
            </tbody>
            }
          </table>
          <table>
            <tbody class="row-table">
              <tr>
                <td class="title-client">VALOR:</td>
                <td class="title-client-info">
                  {{ getFormattedCurrency(datasViewOrder?.order?.value) }}
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="order_info td-table">
          <tbody>
            <table>
              <tbody>
                <tr>
                  <td style="font-weight: bold; font-size: large; ">Status da Entrega</td>
                </tr>
              </tbody>
            </table>

            <table>
              <tbody>
                <tr class="n-order" *>
                  <td>{{ date_hours.date }}</td>
                  <td>
                    {{ date_hours.hours }}
                  </td>
                </tr>
              </tbody>
            </table>

            <table>
              <tbody>
                <tr class="n-order">
                  <td style="font-weight: bold; font-size: large;">Pedido</td>
                  <td>
                    {{ datasViewOrder?.order?.id }}
                  </td>
                </tr>
              </tbody>
            </table>

            <table>
              <tbody>
                <tr style="font-weight: bold; font-size: large; ">
                  <td>Vendedor(a): </td>
                  <td>
                    {{ datasViewOrder?.order?.user?.name }}
                  </td>
                </tr>
              </tbody>
            </table>
          </tbody>
        </td>
      </tr>
    </tbody>

  </main>
  <br>
  <main class="status-container opem-animation" style="flex-direction: column">
    <div class="progress-container">
      <div
        class="progress-bar"
        id="progress-bar"
        [style.width]="statusPorcentagem + '%'"
        [ngClass]="setProgressBarClass()"
      ></div>
    </div>

    <div class="view-status" >
      <div class="status in-progress">
        <div>
          <p class="status-text">PEDIDO INICIADO</p>
          <p class="status-time">{{ getFormattedDate(datasViewOrder?.order?.date) }}</p>
        </div>
      </div>
      @for (item of statusViewOrder; track $index) {
      <div class="status in-progress">
        <div>
          <p class="status-text">PEDIDO {{ item.status?.name }}</p>
          <p class="status-time">{{ getFormattedDate(item.createAt) }}</p>
        </div>
      </div>
      }
    </div>

    <!-- <div #mapContainer style="height: 300px; width: 100%;"></div> -->

    <app-map [address]="dataRegion" style="height: 200px; width: 100%;"></app-map>
  </main>
</section>

