<div class="modal-overlay">
  <button class="close-button" (click)="closeModal()">&times;</button>
  <div class="modal-content">
    <form (ngSubmit)="send()" [formGroup]="new_delivery">
      <app-input-generic
        type="datetime-local"
        label="DATE"
        id="date"
        formControlName="date"
      />
      <app-input-dropdown-generic
        label="VENDEDOR(A)"
        [dataValues]="datasUser"
        formControlName="user_id"
      />
      <app-input-generic
        type="number"
        label="client_id"
        id="client_id"
        ph="50123"
        formControlName="client_id"
        [isBtnVisible]="true"
        btnString="Buscar/Cadastrar"
        (click)="isRegisterAddress = false; isRegisterUser = true"
      />
      <app-input-generic
        type="text"
        label="address_id"
        id="address_id"
        ph="address_id"
        formControlName="address_id"
        [isBtnVisible]="true"
        btnString="Buscar/Cadastrar"
        (click)="isRegisterAddress = true; isRegisterUser = false"
      />

      <app-input-dropdown-generic
        label="TIPO DE ENTREGA"
        [dataValues]="datasTypeOrder"
        formControlName="type_order_id"
      />
      <app-input-generic
        type="text"
        label="value"
        id="value"
        ph="value"
        formControlName="value"
      />
      <!-- <app-input-dropdown-generic [datas]="dataDP" formControlName="type"/> -->
      <app-input-button-generic
        [loading]="isLoad"
        [isDisable]="!new_delivery.valid"
      ></app-input-button-generic>
      <!-- <app-input-button-generic [isDisable]="!maintenance.valid"      ></app-input-button-generic> -->
    </form>
  </div>
  <div
    class="reg-user"
    [ngStyle]="{ display: isRegisterUser ? 'block' : 'nome' }"
  >
    <app-input-generic
      type="text"
      label="isRegisterUser"
      id="value"
      ph="isRegisterUser"
    />
  </div>
  <div
    class="reg-address"
    [ngStyle]="{ display: isRegisterAddress ? 'block' : 'nome' }"
  >
    <app-input-generic
      type="text"
      label="isRegisterAddress"
      id="value"
      ph="isRegisterAddress"
    />
  </div>
</div>
