<div class="modal-overlay">
  <div class="modal-content">
    <form (ngSubmit)="send()" [formGroup]="new_delivery">
      <app-input-generic
        type="datetime-local"
        label="DATE"
        id="date"
        formControlName="date"
      />
      <app-input-dropdown-generic
        label="VENDEDOR(A)"
        [dataValues]="datasUser"
        formControlName="user_id"
      />
      <app-input-generic
        type="text"
        label="ID DO CLIENTE"
        id="client_id"
        ph="Clique em Buscar/Cadastrar"
        formControlName="client_id"
        [isBtnVisible]="true"
        btnString="Buscar/Cadastrar"
        [isDisabled]="true"
        (button_Click)="handleButtonClickedClient()"
      />
      <app-input-generic
        type="text"
        label="ID DO ENDEREÇO"
        id="address_id"
        ph="Clique em Buscar/Cadastrar"
        [isDisabled]="true"
        [isBtnVisible]="true"
        btnString="Buscar/Cadastrar"
        formControlName="address_id"
        (button_Click)="handleButtonClickedAddress()"
      />

      <app-input-dropdown-generic
        label="TIPO DE ENTREGA"
        [dataValues]="datasTypeOrder"
        formControlName="type_order_id"
      />
      <app-input-generic
        type="number"
        label="VALOR"
        id="value"
        ph="59,90"
        formControlName="value"
      />
      <app-input-generic
        type="text"
        label="Observações"
        id="obs"
        ph="bloco 15 apt 148"
        formControlName="obs"
      />

      <div class="case-btn">
        <app-input-button-generic
          class="btn-send"
          [loading]="isLoad"
          [isDisable]="!new_delivery.valid"
        />
        <button class="btn-close" type="button" (click)="closeModal()">
          SAIR
        </button>
      </div>
    </form>
  </div>
  @if (isRegisterClient) {
  <div class="reg-client">
    <form (ngSubmit)="send()" [formGroup]="new_client">
      <app-input-generic
        type="number"
        label="CPF"
        id="cpf"
        ph="123.123.123-20"
        formControlName="cpf"
      />
      <app-input-generic
        type="number"
        label="RG"
        id="rg"
        ph="12.123.123-2"
        formControlName="rg"
      />
      <app-input-generic
        type="text"
        label="NOME DO CLIENTE"
        id="name"
        ph="José Antonio"
        formControlName="name"
      />
      <app-input-generic
        type="number"
        label="TELEFONE"
        id="PHONE"
        ph="(17) 9 9199-9898"
        formControlName="phone"
      />
      <div class="case-btn">
        <app-input-button-generic
          class="btn-send"
          [loading]="isLoad"
          [isDisable]="!new_client.valid"
        />
        <button
          class="btn-close"
          type="button"
          (click)="isRegisterClient = false"
        >
          Voltar
        </button>
      </div>
    </form>
  </div>
  } @else if (isRegisterAddress) {
  <div class="reg-address">
    <form (ngSubmit)="send()" [formGroup]="new_address">
      <app-input-generic
        type="number"
        label="CEP"
        id="cep"
        ph="15044-692"
        formControlName="cep"
      />
      <app-input-generic
        type="number"
        label="LOGADOURO"
        id="place"
        ph="Rua Auriflama"
        formControlName="place"
      />
      <app-input-generic
        type="number"
        label="NÚMERO"
        id="number"
        ph="762"
        formControlName="number"
      />
      <app-input-generic
        type="text"
        label="BAIRRO"
        id="neighborhood"
        ph="Res. João Pedro"
        formControlName="neighborhood"
      />
      <app-input-generic
      type="text"
      label="CIDADE"
      id="city"
      ph="SJRP"
      formControlName="city"
    />
    <app-input-generic
    type="text"
    label="UF"
    id="uf"
    ph="SP"
    formControlName="uf"
  />
      <div class="case-btn">
        <app-input-button-generic
          class="btn-send"
          [loading]="isLoad"
          [isDisable]="!new_client.valid"
        />
        <button
          class="btn-close"
          type="button"
          (click)="isRegisterAddress = false"
        >
          Voltar
        </button>
      </div>
    </form>
  </div>
  }
</div>
