* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #0070cc;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

